* {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--accent-text-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  cursor: pointer;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.link {
  color: var(--title-text-color);
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid #ececec;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .header-container {
    height: 80px;
  }
}

.logo {
  color: var(--bg-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo.up {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .logo.up {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .logo.up {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}
.logo.up:hover {
  color: var(--logo-hover);
}

.accent-up {
  color: var(--accent-up);
}

.nav-gen-container {
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .nav-container {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav-container {
    display: flex;
    gap: 50px;
  }
}

@media screen and (max-width: 767.98px) {
  .site-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 281px;
  }
}

.site-nav .link.current {
  color: var(--bg-color);
}
@media screen and (max-width: 767.98px) {
  .site-nav .link.current {
    display: none;
  }
}

.site-nav .link {
  padding-bottom: 32px;
}
@media screen and (max-width: 767.98px) {
  .site-nav .link {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .nav-link {
    display: none;
  }
}
.nav-link:hover, .nav-link:focus {
  color: var(--bg-color);
}

@media screen and (min-width: 768px) {
  .current {
    position: relative;
  }
  .current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: currentColor;
  }
}

@media screen and (max-width: 767.98px) {
  .mail-container {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mail-container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .mail-container .link {
    padding-top: 21px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 767.98px) {
  .mail-tel .link {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mail-tel .link {
    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .mail-tel .link {
    display: flex;
    font-size: 14px;
    line-height: 1.14;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .mess-container {
    display: flex;
    gap: 50px;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .mess-link {
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.mess-link:hover, .mess-link:focus {
  color: var(--bg-color);
}

@media screen and (max-width: 767.98px) {
  .mess-icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mess-icon {
    fill: var(--primery-text-color);
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.mess-link:hover .mess-icon, .mess-link:focus .mess-icon {
  fill: var(--bg-color);
}

@media screen and (max-width: 767.98px) {
  .mail.link,
.tel.link {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mail.link,
.tel.link {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .mob-menu.is-hidden {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .menu-open {
    background-color: transparent;
    border: none;
    margin-left: auto;
  }
  .menu-open > svg {
    fill: #000000;
  }
}

@media screen and (max-width: 767.98px) {
  .mob-menu {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    top: 0;
    padding-top: 10px;
  }
  .mob-menu > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    padding-left: 40px;
    padding-bottom: 38px;
  }
}

@media screen and (max-width: 767.98px) {
  .menu-close {
    background-color: transparent;
    border: none;
    margin-left: auto;
    display: block;
  }
}

@media screen and (max-width: 767.98px) {
  .mob-list {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767.98px) {
  .mob-list__item:not(:last-child) {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 767.98px) {
  .mob-list__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.2em;
    color: var(--title-text-color);
  }
}

@media screen and (max-width: 767.98px) {
  .mob-list .current {
    color: var(--bg-color);
  }
}

@media screen and (max-width: 767.98px) {
  .mob-menu-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
  }
}

@media screen and (max-width: 767.98px) {
  .mob-menu-mess {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 767.98px) {
  .mob-menu-container:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767.98px) {
  .mob-menu-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.1764705882;
    letter-spacing: 0.02em;
    color: var(--bg-color);
  }
}

@media screen and (max-width: 767.98px) {
  .mob-menu__btn {
    display: block;
    margin-top: 24px;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 767.98px) {
  .mob-soc-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
.mob-soc-list .mob-soc-list:not(:last-child) {
  padding-right: 10px;
}

@media screen and (max-width: 767.98px) {
  .mob-soc-list__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2222222222;
    letter-spacing: 0.02em;
    color: var(--bg-color);
  }
}

@media screen and (max-width: 767.98px) {
  .mob-soc-list__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.hero {
  max-width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #c4c4c4;
  color: var(--accent-text-color);
  height: 432px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/heromob1x.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/heromob2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/herotab1x.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/herotab2x.jpg");
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/herodesk1x.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/herodesk2x.jpg");
  }
}
@media screen and (min-width: 769px) and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
  }
}

.hero-wrap {
  display: flex;
  justify-content: center;
}

.hero__title {
  color: var(--accent-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 697px;
  }
}

.hero__button {
  font-family: inherit;
  cursor: pointer;
}

.hero .hero__button {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero .hero__button:hover, .hero .hero__button:focus {
  background-color: var(--logo-hover);
}

.hero__button.primery {
  background-color: var(--bg-color);
  color: var(--accent-text-color);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: block;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding: 10px 24px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .hero__button.primery {
    min-width: 216px;
    padding: 10px 32px;
  }
}

.footer.footer-container {
  background-color: var(--primery-bg-color);
  font-size: 14px;
  line-height: 1.71;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199.98px) {
  .footer-container {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer-container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0 165px;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 0;
    min-width: 206px;
    align-items: baseline;
  }
}

.logo.down {
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo.down:hover {
  color: var(--logo-hover);
  /* transform: scale(1.1); */
}

.accent-down {
  color: var(--accent-text-color);
}

.address {
  font-style: normal;
  margin-top: 20px;
  margin-right: 80px;
}
@media screen and (max-width: 1199.98px) {
  .address {
    width: 100%;
  }
}

.addr-item:not(:last-child) {
  margin-bottom: 9px;
}

.addr.link {
  color: var(--accent-text-color);
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.addr.link:hover {
  color: var(--bg-color);
}

.mail.footer-link,
.tel.footer-link {
  color: var(--footer-link);
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mail.footer-link:hover, .mail.footer-link:focus,
.tel.footer-link:hover,
.tel.footer-link:focus {
  color: var(--bg-color);
}

.soc {
  margin: 60px auto;
}
@media screen and (min-width: 768px) {
  .soc {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .soc {
    margin: 0 0;
    margin-right: 93px;
  }
}

.soc-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--accent-text-color);
}

.soc-list {
  display: flex;
  gap: 10px;
  min-width: 170px;
  justify-content: center;
}

.soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-bg);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover, .soc-link:focus {
  background-color: var(--bg-color);
}

.soc-icon {
  fill: var(--icon-bg);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .send-block {
    margin: 0 auto;
  }
}

.send-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-text-color);
  margin-bottom: 20px;
}

.send-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: transparent;
  padding-left: 16px;
  margin-right: 12px;
  background-color: var(--primery-bg-color);
  display: flex;
  color: var(--accent-text-color);
}
.send-input:focus {
  border: 1px solid var(--bg-color);
}
.send-input::-moz-placeholder {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25px;
  display: flex;
  align-items: center;
  color: var(--accent-text-color);
}
.send-input:-ms-input-placeholder {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25px;
  display: flex;
  align-items: center;
  color: var(--accent-text-color);
}
.send-input::placeholder {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25px;
  display: flex;
  align-items: center;
  color: var(--accent-text-color);
}
@media screen and (min-width: 768px) {
  .send-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .send-input {
    width: 358px;
  }
}

@media screen and (min-width: 1200px) {
  .send-wrap {
    display: flex;
    margin-bottom: 20px;
  }
}

.send-btn {
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  padding: 10px 28px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--bg-color);
  color: var(--accent-text-color);
  border: none;
  margin: 0 auto;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .send-btn {
    margin-top: 0;
  }
}

.send-icon {
  fill: var(--icon-bg);
  padding-left: 10px;
}

.specialty {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .specialty {
    padding: 94px 0;
  }
}

.specialty__title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.specialty__list {
  min-width: 270px;
}
@media screen and (min-width: 768px) {
  .specialty__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }
}

.specialty__item {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .specialty__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .specialty__item {
    flex-shrink: 0;
    max-width: 270px;
  }
}

.specialty__container {
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .specialty__container {
    width: 270px;
  }
}

.activities {
  width: 100%;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .activities {
    display: none;
    width: 100%;
  }
}

.activities__list {
  display: flex;
  gap: 30px;
  min-width: 370px;
}

.activities__item {
  position: relative;
}

.activities__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-text-color);
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 27px 0;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

.team-container {
  width: 100%;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .team-container {
    display: flex;
    gap: 30px;
    min-width: 270px;
  }
}

.title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.team {
  background-color: var(--team-background-color);
  text-align: center;
}

.team-item {
  width: 100%;
  margin-bottom: 30px;
  background: var(--accent-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    max-width: 270px;
    margin-bottom: 0;
  }
}

.team-text {
  padding: 30px 10px;
}

.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin: 0 auto;
  margin-bottom: 10px;
}

.team-connect {
  font-size: 16px;
  line-height: 1.19;
  margin: 0 auto;
  margin-bottom: 30px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-item,
.soc-item {
  width: 44px;
  height: 44px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--icon-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-fill);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--bg-color);
}
.team-soc-link:hover .team-soc-icon, .team-soc-link:focus .team-soc-icon {
  fill: var(--accent-text-color);
}

.clients {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}

.clients-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.clients-item {
  width: calc((100% - 30px) / 2);
  margin-bottom: 30px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: 170px;
    height: 92px;
    margin-bottom: 0;
  }
}

.clients-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: var(--icon-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-fill);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--bg-color);
}

.clients-icon {
  fill: var(--icon-fill);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .clients-icon, .clients-link:focus .clients-icon {
  fill: var(--bg-color);
}

.button.secondary {
  background-color: var(--team-background-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition-property: box-shadow, color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button.secondary:hover, .button.secondary:focus {
  background-color: var(--bg-color);
  color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter {
  margin-bottom: 34px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.card-wrapper {
  padding: 94px 0;
}

.portfolio {
  margin-top: 34px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-card {
  max-width: 370px;
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  overflow: auto;
  color: var(--accent-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  width: 100%;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-link:hover .portfolio-top-text, .portfolio-card-link:focus .portfolio-top-text {
  transform: translateY(0);
}

.portfolio-card-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-link:hover, .portfolio-card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-content {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primery-text-color);
}

.portfolio-text {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.activities__title-section,
.team-title-section,
.clients-title-section {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 100%;
  min-height: 609px;
  margin: 0 auto;
  background-color: var(--icon-bg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, 50%) scaleY(0);
}

.close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--icon-bg);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-icon {
  fill: var(--accent-up);
}

.modal-wrap {
  margin: 0 auto;
}

.modal-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal-title {
    min-width: 448px;
    display: block;
  }
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding-left: 41px;
  transition: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--bg-color);
}

.input-icon {
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .input-icon {
  fill: var(--bg-color);
}

.modal-btn {
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent-text-color);
  border: none;
  border-radius: 4px;
  background-color: var(--bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: var(--logo-hover);
}

.modal-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
}

.modal-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  font-size: 14px;
  color: var(--accent-up);
  padding: 12px 16px;
  resize: none;
  transition: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:focus {
  border-color: var(--bg-color);
}
.modal-text::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16x;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16x;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text::placeholder {
  font-size: 12px;
  line-height: 1.16x;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text:focus .modal-text::-moz-placeholder {
  color: var(--bg-color);
}
.modal-text:focus .modal-text:-ms-input-placeholder {
  color: var(--bg-color);
}
.modal-text:focus .modal-text::placeholder {
  color: var(--bg-color);
}

.chek-field {
  margin-bottom: 30px;
}

.check-text {
  color: var(--title-text-color);
  font-size: 12px;
  line-height: 1.71;
  display: flex;
  gap: 7px;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
  }
}

.check-link {
  font-size: 12px;
  line-height: 1.71;
  color: var(--bg-color);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  /* text-underline-position: under; */
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
@media screen and (min-width: 1200px) {
  .check-link {
    font-size: 14px;
  }
}

.icon-uncheck {
  fill: var(--title-text-color);
}
.input-check:checked + .check-text .icon-uncheck {
  opacity: 0;
}

.icon-check {
  fill: var(--icon-bg);
  background-color: var(--bg-color);
  opacity: 0;
}
.input-check:checked + .check-text .icon-check {
  opacity: 1;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #ffffff;
  --primery-bg-color: #2f303a;
  --bg-color: #2196f3;
  --logo-hover: #188ce8;
  --accent-up: #000000;
  --team-background-color: #f5f4fa;
  --footer-link: rgba(255, 255, 255, 0.6);
  --icon-fill: #afb1b8;
  --icon-bg: #ffffff;
}/*# sourceMappingURL=main.css.map */