// *,
// *::before,
// *::after {
//   box-sizing: border-box;
// }

* {
  box-sizing: border-box;
  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
}

body {
  background-color: var(--accent-text-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  // min-width: 100%;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  cursor: pointer;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.link {
  color: var(--title-text-color);
  text-decoration-line: none;
}

.no-scroll {
  overflow: hidden;
}