:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #ffffff;
  --primery-bg-color: #2f303a;
  --bg-color: #2196f3;
  --logo-hover: #188ce8;
  --accent-up: #000000;
  --team-background-color: #f5f4fa;
  --footer-link: rgba(255, 255, 255, 0.6);
  --icon-fill: #afb1b8;
  --icon-bg: #ffffff;
}
