.clients {
  // padding: 94px 0;
  padding: 60px 0;
  @include mq(desk) {
    // @media screen and (min-width:1200px){
    padding: 94px 0;
  }
}
.clients-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  min-width: 170px;
}

.clients-item {
  width: calc((100% - 30px) / 2);
  margin-bottom: 30px;
  @include mq(tab) {
    // @media screen and (min-width:768px){
    width: calc((100% - 60px) / 3);
  }
  @include mq(desk) {
    width: 170px;
    height: 92px;
  }
}

.clients-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: var(--icon-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-fill);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--bg-color);
  }
}

.clients-icon {
  fill: var(--icon-fill);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .clients-link:hover &,
  .clients-link:focus & {
    fill: var(--bg-color);
  }
}
