.hero {
  max-width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #c4c4c4;
  color: var(--accent-text-color);
  // background-image: url();
  //   @media (min-device-pixel-ratio: 2),
  //     (-webkit-min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2dppx) {
  //     background-image: url();
  //    }
  //   @media screen and (min-width: 481px){
  //     background-image: url();
  //     @media (min-device-pixel-ratio: 2),
  //       (-webkit-min-device-pixel-ratio: 2),
  //       (min-resolution: 192dpi),
  //       (min-resolution: 2dppx) {
  //       background-image: url();
  //       }
  //   }
  //   @media screen and (min-width: 769px){
  //   background-image: url();

  //   @media (min-device-pixel-ratio: 2),
  //   (-webkit-min-device-pixel-ratio: 2),
  //   (min-resolution: 192dpi),
  //   (min-resolution: 2dppx) {
  //     background-image: url();
  //   }

  height: 432px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/heromob1x.jpg");
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../img/heromob2x.jpg");
  }

  @include mq(tab) {
    height: 400px;
  }
  @media screen and (min-width: 481px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/herotab1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../img/herotab2x.jpg");
    }
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/herodesk1x.jpg");

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../img/herodesk2x.jpg");
    }

    @include mq(desk) {
      padding-top: 200px;
      padding-bottom: 200px;
      // background-image: linear-gradient(
      //     rgba(47, 48, 58, 0.4),
      //     rgba(47, 48, 58, 0.4)
      //   ),
      //   url(../img/imgbackgr.jpg);

      height: 600px;
      max-width: 1600px;
      // margin: 0 auto;
    }
  }
}

.hero-wrap {
  display: flex;
  justify-content: center;
}

.hero__title {
  color: var(--accent-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  @include mq(desk) {
    font-size: 44px;
    line-height: 1.36;
    max-width: 697px;
  }
}

.hero__button {
  font-family: inherit;
  cursor: pointer;
}
.hero .hero__button {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--logo-hover);
  }
}

.hero__button.primery {
  background-color: var(--bg-color);
  color: var(--accent-text-color);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: block;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding: 10px 24px;
  margin: 0 auto;

  @include mq(desk) {
    min-width: 216px;
    padding: 10px 32px;
  }
}
