.team {
  padding-bottom: 60px;
  @include mq(desk) {
    // @media screen and (min-width:1200px){
    padding: 94px 0;
  }
}

.team-container {
  // width: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 100%;
  // display: flex;
  // flex-wrap: wrap;
  // gap: 30px;
  justify-content: space-between;
  @include mq(tab) {
    // @media screen and (min-width:768px){
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }
  @include mq(desk) {
    //  @media screen and (min-width:1200px){
    display: flex;
    gap: 30px;
    min-width: 270px;
  }
}

.title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.team {
  background-color: var(--team-background-color);
  text-align: center;
}

.team-item {
  width: 100%;
  margin-bottom: 30px;
  background: var(--accent-text-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @include mq(tab) {
    // @media screen and (min-width:768px){
    width: calc((100% - 30px) / 2);
  }
  @include mq(desk) {
    //  @media screen and (min-width:1200px){

    max-width: 270px;
  }
}

.team-text {
  padding: 30px 10px;
}

.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin: 0 auto;
  margin-bottom: 10px;
}

.team-connect {
  font-size: 16px;
  line-height: 1.19;
  margin: 0 auto;
  margin-bottom: 30px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-item,
.soc-item {
  width: 44px;
  height: 44px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--icon-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-fill);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--bg-color);
  }

  &:hover .team-soc-icon,
  &:focus .team-soc-icon {
    fill: var(--accent-text-color);
  }
}
